<%- include("../partials/head-start") -%>

    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <link rel="stylesheet" href="/assets/css/index.css">

<%- include("../partials/head-end") -%>

    <%- include("../partials/header", {title: "Archive", showSettings: true, showBack: true}) -%>
    <%- include("../partials/search-bar") -%>

    <div class="dropdown-container overflow-hidden">
        
    </div>


    <template id="template-category-dropdown">
        <%- include("../partials/category-dropdown") -%>
    </template>

    <template id="template-news-item">
        <%- include("../partials/news-item", {showTrashButton: true}) -%>
    </template>

    
    <script src="/assets/js/anime.min.js"></script>
    <script src="/assets/js/archive.js"></script>
    <script src="/assets/js/category-dropdown.js"></script>

<%- include("../partials/body-end") -%>