<%- include("../partials/head-start") -%>

    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <link rel="stylesheet" href="/assets/css/index.css">

<%- include("../partials/head-end") -%>

    <%- include("../partials/header", {title: "Newsbox", showSettings: true, showBack: false}) -%>
    <%- include("../partials/search-bar") -%>

    <div class="dropdown-container">
        <%- include("../partials/category-dropdown") -%>
        <%- include("../partials/category-dropdown") -%>
        <%- include("../partials/category-dropdown") -%>
        <%- include("../partials/category-dropdown") -%>
        <%- include("../partials/category-dropdown") -%>
    </div>


    <script src="/assets/js/anime.min.js"></script>
    <script src="/assets/js/category-dropdown.js"></script>

<%- include("../partials/body-end") -%>