<%- include("../partials/head-start") -%>

    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <link rel="stylesheet" href="/assets/css/index.css">

<%- include("../partials/head-end") -%>

    <div class="flex flex-col h-screen">
        <%- include("../partials/header", {title: "Newsbox", showSettings: true, showBack: false}) -%>
        <%- include("../partials/search-bar") -%>

        <div class="refresh-block flex justify-center items-center text-3xl w-full text-gray-500 flex-none">
            <i class="fas fa-sync refresh-icon m-8"></i>
        </div>

        <div class="dropdown-container flex flex-col">
            
        </div>
    </div>


    <template id="template-category-dropdown">
        <%- include("../partials/category-dropdown") -%>
    </template>

    <template id="template-news-item">
        <%- include("../partials/news-item", {showTrashButton: false}) -%>
    </template>


    <script src="/assets/js/anime.min.js"></script>
    <script src="/assets/js/category-dropdown.js"></script>
    <script src="/assets/js/index.js"></script>

<%- include("../partials/body-end") -%>