<%- include("../partials/head-start") -%>

    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <link rel="stylesheet" href="/assets/css/index.css">

<%- include("../partials/head-end") -%>

    <%- include("../partials/header", {title: "Newsbox", showSettings: true, showBack: false}) -%>
    <%- include("../partials/search-bar") -%>

    <div class="dropdown-container">
        
    </div>


    <script src="/assets/js/anime.min.js"></script>
    <script src="/assets/js/category-dropdown.js"></script>
    
    <template id="template-category-dropdown">
        <%- include("../partials/category-dropdown", { showTrashButton: false }) -%>
    </template>

<%- include("../partials/body-end") -%>